/*

*/


body {
    background-color: seashell;
}

/*
 navbar
*/
.navbar {
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    justify-content: flex-end;
}

.navbar__links {
    display: flex;
    flex-direction: column-reverse;
}