/*utiidades*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* secciones*/
.navbar {
    height: 80px;
    width: 1152px;
    display: flex;
    justify-content: space-between;
}

.navbar__logo {

    height: 100%;
    width: 300px;
}

.navbar__logo img {
    height: 100%;

}

.navbar__links {
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__links a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(29, 29, 124);
}

/* hero */

.hero {
    height: 450px;
    width: 1200px;
    display: flex;

}

.hero__photo img {
    height: 90%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.hero__photo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
}

.hero__text h3 {
    color: rgb(35, 45, 104);
    margin-bottom: 9px;
}

.hero__text h2 {
    display: flex;
    flex-direction: column;
}

.hero__text .title {
    color: rgb(65, 79, 160);
    font-size: 2em;
    font-weight: 300;
}

.hero__text .title-dark {
    color: rgb(13, 19, 56);
    font-size: 2em;
    font-weight: 500;
}

.hero__text button {
    background-color: rgb(65, 79, 160);
    font-size: 075;
    height: 3em;
    width: 175px;
    color: white;
    text-transform: uppercase;
    border: 0px solid white;
    border-radius: 10px;

    @media screen and (max-width:700px) {
        body {
            background-color: yellow;
        }
    }