/*utiidades*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* secciones*/
.navbar {
    height: 80px;
    width: 1152px;
    display: flex;
    justify-content: space-between;
}

.navbar__logo{
   
    height: 100% ;
    width: 300px;
}
.navbar__logo img {
   height: 100%;
   
}

.navbar__links{
    height: 100% ;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__links a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(29, 29, 124);
}
/* hero */

.hero{
    height: 450px;
    width: 1200px; 
    display: flex;

}

.hero__photo{
    background-color: darkgreen;
    width: 40%;
    height: 100%;
}
.hero__text{
    background-color: darkorchid;
    width: 60%;
    height: 100%;
}